<!--
  Generated template for the RegistrationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Registration</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div id="welcome">
    Welcome to Clue Ride.
  </div>

  <div *ngIf="auth.isAuthenticated()">
    <div>
      You're good to go.
    </div>
    <div id="logout">
      <a (click)="auth.logout()">Log Out</a>
    </div>
  </div>

  <div *ngIf="!auth.isAuthenticated()">

    <div>
      This device is not yet registered on the Clue Ride network.
    </div>

    <div>
      Registering your device involves confirming the email address
      under which earned badges will be awarded. Your choice of
      registration method should be based on which email you want to
      present any badges you may earn.
    </div>

    <div id="register-social">
      Use Register via Social Media to specify an existing Google or Facebook
      account's email to use for receiving and presenting badges.
      <div>
        <button ion-button (click) = "auth.registerSocial()">Register via Google or Facebook</button>
      </div>
    </div>

    <div id="register-passwordless">
      Use Register via Email to specify
      an exact email to receive and present badges.
      <div>
        <button ion-button (click) = "auth.registerPasswordless()">Register via Email</button>
      </div>
    </div>

    <div id="bdd-mock-register" [hidden]="!platformState.runningLocal()">
      <a (click)="auth.bddLogin()">BDD Mock Register</a>
    </div>

  </div>
</ion-content>
